@model mvcIdentity.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVirtual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVirtual)
        </dd>
        <dt>Users</dt>
        <dd>
            @foreach (var item in ViewBag.Users)
            {
                <p>@item.UserName</p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
