﻿@{
    ViewData["Title"] = "Home Page";
}
    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">Customer Relationship Management</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">What is a CRM?</h2>
          <p>Customer relationship management (CRM) is a term that refers to practices, strategies and technologies that companies use to manage and analyze customer interactions 
              and data throughout the customer lifecycle, with the goal of improving customer service relationships and assisting in customer retention and driving sales growth.</p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact</h2>
          <address>
            <strong>CRM Support</strong>
            <br>San Carlos
            <br>Ciudad Quesada
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (506) 2460-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">wcarvajal17@example.com</a>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="~/images/img5.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Clients Management</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="~/images/img4.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">IT Support</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="~/images/img3.jpeg" alt="">
            <div class="card-body">
              <h4 class="card-title">Manage Meetings</h4>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
