﻿@model System.Collections.Generic.List<RegisterViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <form role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="First().Id" />
        <div class="form-group">
            <label asp-for="First().Username"></label>
            <input asp-for="First().Username" class="form-control" readonly/>
            <span asp-validation-for="First().Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Role Current: </label>
            <input asp-for="First().Role" class="form-control" value="@Model[0].Role" readonly />
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model[0].Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
